logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/.idea_modules
/modules
/.classpath
/.eclipse
/.project
/RUNNING_PID
/.settings
/project/*-shim.sbt
/activator-sbt-*-shim.sbt
/out
/db
scala-sdk

# Ignore Play! working directory #
bin
test-result
server.pid
*.eml
.cache

.travis.yml

