<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-sm-4">
                <button class="btn btn-sm btn-info" (click)="searchTags()">
                    <i class="fa fa-refresh"></i>
                    Refresh
                </button>
            </div>
            <div class="col-sm-4">
                <div class="btn-group btn-group-sm" role="group" aria-label="Pagination">
                    <button type="button" class="btn  btn-secondary" (click)="first()">1</button>
                    <button type="button" class="btn  btn-secondary" (click)="prev()">&lt;</button>
                    <button type="button" class="btn  btn-secondary" disabled>{{pagination.page}}</button>
                    <button type="button" class="btn  btn-secondary" (click)="next()">&gt;</button>
                    <button type="button" class="btn  btn-secondary" (click)="last()">{{pagination.totalPages}}
                        ({{pagination.totalEntities}})
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <label id="pageSize" for="pageSizeSelect">Page Size&nbsp;</label>
                    <select class="form-control-sm" id="pageSizeSelect" [(ngModel)]="pagination.size" [value]="10"
                            (change)="searchTags()">
                        <option *ngFor="let ps of pageSizes">{{ps}}</option>
                    </select>
                </div>
            </div>
            <table class="table  table-sm table-striped table-hover" [mfData]="tags">
                <thead class="thead-dark">
                <tr>
                    <td *ngFor="let f of filters">{{f.name}}</td>
                </tr>
                <tr>
                    <td *ngFor="let f of filters">
                        <input type="text" class="form-control" [(ngModel)]="f.value">
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let t of mf.data">
                    <td *ngFor="let f of filters">{{t[f.id]}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
