<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img width="32" height="32" src="favicon.ico">
    Oikoumene / EU4
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/world-map">World Map</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="provincesDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Provinces
        </a>
        <div class="dropdown-menu" aria-labelledby="provincesDropdownMenuLink">
          <a class="dropdown-item" href="/provinces">Province Search</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
